<p id="notice"><%= notice %></p>

<h1>Wizards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wizards.each do |wizard| %>
      <tr>
        <td><%= link_to 'Show', wizard %></td>
        <td><%= link_to 'Edit', edit_wizard_path(wizard) %></td>
        <td><%= link_to 'Destroy', wizard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wizard', new_wizard_path %>
